* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: hsl(234, 29%, 20%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.hideContain {
    display: none;
}

.container {
    background: hsl(0, 0%, 100%);
    margin: 72px;
    height: 470px;
    /* overflow: ; */
    /* max-width: 40%;
    max-height: 400px; */
    width: 680px;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    /* text-align: center; */
}

.form {
    font-size: 16px;
    margin-inline: 10px;
}

.container h1 {
    font-size: 45px;
    text-align: center;
    margin-bottom: 20px;
}

.joinPara {
    margin-bottom: 30px;
    font-size: 12.5px;
    margin-left: 40px;
    font-weight: 500;
}

.descriptionPara1 {
    font-size: 12px;
    margin-bottom: 10px;
    margin-left: 40px;
    font-weight: 500;
}

.descriptionPara2 {
    font-size: 12px;
    margin-bottom: 10px;
    margin-left: 40px;
    font-weight: 500;
}

.descriptionPara3 {
    font-size: 12px;
    margin-bottom: 30px;
    margin-left: 40px;
    font-weight: 500;
}

p img {
    width: 10px;
}

.emailHeading {
    font-weight: 700;
    font-size: 10px;
    /* display: block; */
    margin-bottom: 5px;
    margin-left: 40px;
}

.emailError {
    display: none;
    /* visibility: hidden; */
    font-weight: 700;
    font-size: 10px;
    /* display: block; */
    margin-bottom: 5px;
    margin-left: 127px;
    color: rgb(241, 11, 11, 0.89);
    /* text-align-last: auto; */
}

input {
    margin-left: 40px;
    margin-bottom: 15px;
    height: 45px;
    width: 280px;
    color: hsl(234, 29%, 20%);
    /* border-color: hsl(231, 7%, 60%); */
    /* border: 4px  hsl(0, 0%, 100%); */
    border-radius: 4px;
    border: 1px solid #8F99BB;
    outline: none;
    padding: 20px;
}

input::after {
    background: rgba(255, 0, 0, 0.2);
    border-color: rgba(255, 0, 0, 0.3);
    color: rgb(241, 11, 11, 0.89);
}

input::placeholder {
    color: hsl(231, 7%, 60%);
}

.container button {
    background-color: hsl(234, 29%, 20%);
    color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 4px;
    /* border: 1px solid white; */
    margin-left: 40px;
    width: 280px;
    height: 45px;
    cursor: pointer;
}

.svgDesktopImage {
    height: 430px;
    width: 300px;
    margin-top: 17px;
    margin-bottom: 13px;
    margin-right: 12px;
}

/* .confirmation {
    display: block;
} */

.showConfirmation {
    background-color: hsl(0, 0%, 100%);
    display: block;
    margin: 100px;
    height: 350px;
    width: 370px;
    border-radius: 20px;
    /* padding-left: 40px; */
}

.showConfirmation img, .showConfirmation p, .showConfirmation h1 {
    padding-left: 40px;
    /* padding-top: 20px; */
}

.showConfirmation img {
    margin-top: 40px;
    height: 40px;
}

.showConfirmation h1 {
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.showConfirmation p {
    padding-top: 5px;   
    font-size: 12px;
}

.dismiss {
    margin-top: 20px;
    text-align: center;
    background: linear-gradient(45deg, rgb(240, 135, 135), #F36741);
    color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 4px;
    margin-left: 40px;
    width: 280px;
    height: 45px;
    cursor: pointer;
    outline: none;
}

/* .dismiss {
    margin-top: 20px;
    background-color: hsl(234, 29%, 20%);
    color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 4px;
    margin-left: 40px;
    width: 280px;
    height: 45px;
    cursor: pointer;
} */